<link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.css">
    <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link href="/styles/stylesworkspace.css" rel="stylesheet">

<nav class="navbar navbar-static">
   <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="http://www.bootply.com" target="ext"><b>Comparpersonal</b></a>
      <a class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="glyphicon glyphicon-chevron-down"></span>
      </a>
    </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">  
          <li><a href="#">Colaborar con SNTSA Seccion 48</a></li>
          
        </ul>
        <ul class="nav navbar-right navbar-nav">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Mi propio espacio</i></a>
            <ul class="dropdown-menu" style="padding:12px;">
                <form class="form-inline">
            <button type="submit" class="btn btn-default pull-right"><i class="glyphicon glyphicon-search"></i></button><input type="text" class="form-control pull-left" placeholder="Search">
                </form>
             </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-user"></i> Luis Gerardo Palacios ALvarado <i class="glyphicon glyphicon-chevron-down"></i></a>
            <ul class="dropdown-menu">
              <li><a href="#">Login</a></li>
              <li><a href="#">Profile</a></li>
              <li class="divider"></li>
              <li><a href="#">About</a></li>
             </ul>
          </li>
        </ul>
      </div>
    </div>
</nav><!-- /.navbar -->

<header class="masthead">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
          <div class="well pull-left">
          <center>
            <img src="http://sntsa30.org.mx/images/logo.png" width="50%">

            </center>
          </div>
        </div>
      <div class="col-md-7" ng-controller="IniciarController">
      <center>
        <h1><a href="#" title="Scroll down for your viewing pleasure">
        {{magazine.titulo}}
        </a>
        <br> EDICION.DETALLES
        
                </button></a>
                </h1></center>
      </div>
      
    </div>
  </div>
</header>

<!-- Begin Body -->
<div class="container">
  <div class="no-gutter row">
          <!-- left side column -->
        <div class="col-md-2">
                <div class="panel panel-default" id="sidebar">
                <div class="panel-heading" style="background-color:#888;color:#fff;">MENU DE EDITOR</div> 
                <div class="panel-body" ng-controller="IniciarController"> 

            <ul class="nav nav-stacked">
              <li><button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#edicionModal" ng-click="addItem()">
                EDITAR EDICION
                </button></li>
              <li><button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#avisoModal" ng-click="addItem()">
                NUEVO AVISO
                </button></li>
              <li><button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#actividadModal" ng-click="addItem()">
                NUEVA ACTIVIDAD
                </button></li>
            </ul>
                  
                  <hr>

                <div class="col col-span-12">
                  <i class="icon-2x icon-facebook"></i>&nbsp;
                  <i class="icon-2x icon-twitter"></i>&nbsp;
                  <i class="icon-2x icon-linkedin"></i>&nbsp;
                  <i class="icon-2x icon-pinterest"></i>
                </div>
                
                </div><!--/panel body-->
              </div><!--/panel-->
          </div><!--/end left column-->
            
          <!--mid column-->
          <div class="col-md-3">
              <div class="panel" id="midCol">
                <div class="panel-heading" style="background-color:#555;color:#eee;">AVISOS</div> 
                <div class="panel-body">
                  <div class="well" ng-controller="IniciarController">
                          <img src="http://meetsharn.com/wp-content/uploads/2012/06/Logo-Scoop-It-HD.png" class="img-responsive">


                          <h3><a href="http://getbootstrap.com">{{links.titulo}}</a></h3>

                          <p style="text-align: justify;
    text-justify: inter-word;">
                          En simples terminos, enterate sobre todas las noticias en internet sobre el sindicato nacional de salud.
                          </p>
                          <p style="text-align: justify;
    text-justify: inter-word;">
                          <a href="http://www.bootply.com/bootstrap-3-migration-guide" target="ext">
                          Lee nuestras noticias del sindicato nacional de salud que circulan ahora en internet.</a></p>
                  </div>
                  <hr>
               </div> 
               </div><!--/panel-->
          </div><!--/end mid column-->
          
          <!-- right content column-->
          <div class="col-md-7" id="content">
              <div class="panel">
          <div class="panel-heading" style="background-color:#111;color:#fff;">ACTIVIDADES</div>   
                <div class="panel-body">
                  
                  <div class="row">
                  <div class="col-md-12" ng-controller="IniciarController">
                    <h2>{{actividades.titulo}}</h2>
                    
                    <h4>Fecha: 13 de Septiembre de 2015. </h4>

                    <h4>Lugar: 
                    Centro de convenciones, Villahermosa Tabasco Mexico.</h4>
                    2013 was marked as the year of Responsive Web Design (RWD). The Web is filled with big brands, galleries and magical examples that media queries demonstrate the glory of responsive design.
                    <br><br>
                  </div> 

                </div>
                    
                  </div><!--/panel-body-->
                </div><!--/panel-->
                <!--/end right column-->
        </div> 
    </div>
</div>


<!-- Modal -->
                <div class="modal fade" id="edicionModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" ng-show="displayForm">
                  <div class="modal-dialog">
                    <div class="modal-content">      
                      <div class="modal-body">
                       
                          <div class="form-group">Nombre de la edicion:  
                          <input type="text" ng-model="revista.titulo"  class="form-control" placeholder="Nombre"/></div>
                      
                      </div>
                      <div class="modal-footer">       
                         <button class="btn btn-primary" ng-click="saveItem()">Save</button>
                         <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>

<!-- Modal -->
                <div class="modal fade" id="avisoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" ng-show="displayForm2">
                  <div class="modal-dialog">
                    <div class="modal-content">      
                      <div class="modal-body">
                       
                          <div class="form-group">Nombre del aviso:  
                          <input type="text" ng-model="revista.titulo"  class="form-control" placeholder="Nombre"/></div>
                      
                      </div>
                      <div class="modal-footer">       
                         <button class="btn btn-primary" ng-click="saveItem()">Save</button>
                         <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>

<!-- Modal -->
                <div class="modal fade" id="actividadModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" ng-show="displayForm3">
                  <div class="modal-dialog">
                    <div class="modal-content">      
                      <div class="modal-body">
                       
                          <div class="form-group">Nombre de la actividad:  
                          <input type="text" ng-model="revista.titulo"  class="form-control" placeholder="Nombre"/></div>
                      
                      </div>
                      <div class="modal-footer">       
                         <button class="btn btn-primary" ng-click="saveItem()">Save</button>
                         <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>


<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-right"><h5>©Company 2014</h5></div>
    </div>
  </div>
</footer>
