<link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.css">
    <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

<nav class="navbar navbar-static">
   <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="http://www.bootply.com" target="ext"><b>Comparpersonal</b></a>
      <a class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="glyphicon glyphicon-chevron-down"></span>
      </a>
    </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">  
          <li><a href="#">Colaborar con SNTSA Seccion 48</a></li>
          
        </ul>
        <ul class="nav navbar-right navbar-nav">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Mi propio espacio</i></a>
            <ul class="dropdown-menu" style="padding:12px;">
                <form class="form-inline">
            <button type="submit" class="btn btn-default pull-right"><i class="glyphicon glyphicon-search"></i></button><input type="text" class="form-control pull-left" placeholder="Search">
                </form>
             </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-user"></i> Luis Gerardo Palacios ALvarado <i class="glyphicon glyphicon-chevron-down"></i></a>
            <ul class="dropdown-menu">
              <li><a href="#">Login</a></li>
              <li><a href="#">Profile</a></li>
              <li class="divider"></li>
              <li><a href="#">About</a></li>
             </ul>
          </li>
        </ul>
      </div>
    </div>
</nav><!-- /.navbar -->

<header class="masthead">
  <div class="container">
    <div class="row">

      <div ng-controller="PerfilController" class="col col-sm-12">
      <center>
        <h1><a href="#" title="scroll down for your viewing pleasure">Hola,</a>
          <p class="lead">{{perfil.nombre}}</p></h1>
          </center>
      </div>
    </div>
  </div>
</header>

<!-- Begin Body -->
<div class="container">
	<div class="row">
  			<div class="col col-sm-3">
              	<div id="sidebar">
      			<ul class="nav nav-stacked">
                    <li><h3 class="highlight">Suscripciones </h3></li>
                  	<li><a href="#">SNTSA Seccion 48</a></li>
				</ul>
               </div>
      		</div>  
      		<div class="col col-sm-9">
              <div class="panel">
              <h1>Publicaciones Mensuales</h1>
              <hr>

              <div class="row">
              	<div class="col col-sm-3">
                <center>
                  <img src="http://sntsa30.org.mx/images/logo.png" width="50%">
                  </center>
                </div>
                
                <div class="col col-sm-9">
                  <h2>SNTSA Seccion 48 </h2>
                    <br>
                    <p>Es un proyecto libre sobre las actividades del sindicato nacional de trabajadores
                    de salud seccion 48 de los trabajadores del HAE. Dr. Juan Graham Casasus</p>
                </div>
              </div>

              <div class="row">
                <div class="col col-sm-3"><center>
                <a href="/app/publicacion">
            <button class="btn btn-primary btn-lg" data-toggle="modal">
                PARTICIPAR
                </button></a>
                </button>
                </center>
                </div>

                <div class="col col-sm-9">
                    <p>OPINIONES: 
                    <img src="/images/gold_star.gif" width="10%" />
                    <img src="/images/gold_star.gif" width="10%" /> 
                    <img src="/images/gold_star.gif" width="10%" /> 
                    <img src="/images/gold_star.gif" width="10%" /> 
                    <img src="/images/gold_star.gif" width="10%" /> 
                    </p>
                </div>

              </div>

              <hr>

              


             	</div>
      	</div>            
  	</div>


    <br><br>
                  <h4><a href="http://bootply.com/">Bootply</a></h4>
                <hr>
</div>

